.container{
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;

}
.container h3{
    margin-left: 160px;
    margin-top: 50px;
}

.product_container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
    margin-top: 100px;
    margin-right: 100px;
}
.product_container img{
    max-height: 270px;
}

.price{
    font-size: 20px;
    color: #58585a;
    margin: 0;
}
.dollar{
    color: #828282;
    font-size: 12px;
    margin: 0 auto;
}
.choose{
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 21px;
    color: #5E8BCE;
}